body {
    margin: 0;
    padding: 0;
}

.heroSectionContainer {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
